# Ignore virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore environment variables file
.env

# Ignore other common files
*.log
*.sqlite3
*.pyc
.DS_Store
.idea/
.vscode/
node_modules/
*.swp
*.swo