.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: black;
  padding: 10px;
  border-radius: 8px;
  width: 90%;
  max-width: 700px;
  min-height: 60vh; /* Covers most of the screen height on mobile */
  max-height: 90vh; /* Prevents overflow on very tall screens */
  position: relative;
  color: white;
  display: flex;
  border: 2px solid white;
}

.modalContent img {
  width: 50%;
  /* Limit image height to prevent overflow */
  max-height: 900px;
  height: auto;
  /* object-fit: contain; */
  border-radius: 2px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.properties {
  border: 1px solid white;
  border-radius: 3px;
  width: 100%;
  /* overflow: scroll; */
}

.gridRow {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  padding: 0.2rem;
}

.description {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

p {
  margin-bottom: 0;
}
