.header {
	text-align: center;
	margin-bottom: 1rem;
}

.header > p {
	max-width: 50ch;
	margin: 0 auto;
}

/* .container {
  background-image: url("../assets/catalogPage/fan_shingen_background.jpg");
  filter: brightness(0.8);
} */
