.container {
  text-align: center;
  font-size: 1.5rem;
}

.container img {
  width: 100%;
}

.section img {
  max-width: 60px;
}

.footerGrid {
  display: grid;
  grid-row: inherit;
  grid-template-columns: 1fr 1fr 1fr;
}
