<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
	<div >form</div>
	<form id="sakeForm">
		<label for="name">Name</label>
		<input type="input" name="name" id="name">
		<br>

		<label for="region">Region/Prefecture</label>
		<input type="input" name="region" id="region">
		<br>

		<label for="brewery">Brewery</label>
		<input type="input" name="brewery" id="brewery">
		<br>

		<label for="sizes">Available Sizes</label>
		<input type="input" name="sizes" id="sizes">
		<br>

		<label for="taste">Taste</label>
		<input type="input" name="taste" id="taste">
		<br>

		<label for="pairing">Pairing</label>
		<input type="input" name="pairing" id="pairing">
		<br>

		<label for="style">Style</label>
		<input type="input" name="style" id="style">
		<br>

		<label for="price">Price</label>
		<input type="number" name="price" id="price">
		<br>

		<label for="alchohol">Alchohol %</label>
		<input type="number" name="alchohol" id="alchohol">
		<br>

		<label for="image">Photo</label>
		<input type="file" name="image" id="image">
		<br>

		<label for="description">Description</label>
		<input type="input" name="description" id="description">
		<br>
		
		<label for="submit">Submit</label>
		<input type="submit" name="submit" id="submit">
	</form>
	<script src="../static/js/form.js"></script>
</body>
</html>