/* @font-face {
  font-family: tw;
  src: url(../src/assets/font/tw-cen-mt-bold.ttf);
} */

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "tw-bold", Arial, Helvetica, sans-serif;
  color: white !important;
  background-color: black;
}

.appContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}
