.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.imageSize {
  width: 100%;
  height: 500px;
  /* contain to fully maintain aspect, cover to maintain apsect while filling container */
  object-fit: cover;
}

.title {
  text-align: center;
}

.cardBody {
  height: 250px;
}
